<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="w3-container">   <div class="w3-bar w3-black">    <a href="./home" class="w3-bar-item w3-button w3-mobile w3-green">Home</a>   <a href="./store_file" class="w3-bar-item w3-button w3-mobile">Upload File</a>    <a href="./nft_mint?metadata_media=" class="w3-bar-item w3-button w3-mobile">Mint NFT</a>   <div class="w3-dropdown-hover w3-mobile">      <button class="w3-button">NFT <i class="fa fa-caret-down">
</i>
</button>     <div class="w3-dropdown-content w3-bar-block w3-dark-grey">        <a href="./nft_mint?metadata_media=" class="w3-bar-item w3-button w3-mobile">Mint NFT</a>       <a href="./view_nft_marketplace" class="w3-bar-item w3-button w3-mobile">View NFT</a>        <a href="./store_file" class="w3-bar-item w3-button w3-mobile">Store NFT</a>     </div>    </div> <a href="./send" class="w3-bar-item w3-button w3-mobile">Send Asset</a>
<a href="./receive" class="w3-bar-item w3-button w3-mobile">Receive Asset</a>   <div class="w3-dropdown-hover w3-mobile">      <button class="w3-button">Asset <i class="fa fa-caret-down">
</i>
</button>     <div class="w3-dropdown-content w3-bar-block w3-dark-grey">        <a href="./send" class="w3-bar-item w3-button w3-mobile">Send</a>       <a href="./receive" class="w3-bar-item w3-button w3-mobile">Receive</a>         </div>    </div>
</div>';
      text = text + "<H1 align='center'  style='color:blue;'> Rewards and Recognition Platform</h1>
<br>
<br>
<table align='center' style='border: 1px solid black;'>
<tr style='border: 1px solid black;'>
<td align='center' style='border: 1px solid black;'>
<b>metadata_media</b>
</td>
<td align='center'style='border: 1px solid black;'> <b>token_id</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>owner_id</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>metadata_title</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>metadata_description</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>metadata_copies</td>
<td align='center' style='border: 1px solid black;'> <b>Transfer NFT</b>
</td>
</tr>"

      for (var i = 0; i < jsontoken.length; i++) {

        text = text + "<tr style='border: 1px solid black;'>
<td align='center' style='border: 1px solid black;'> <a href='./nft_transfer?token_id=" + jsontoken[i].token_id + "&metadata_media=" + (jsontoken[i].metadata_media).replace("?", "%3F") + "&metadata_title=" + (jsontoken[i].metadata_title) + "&metadata_description=" + (jsontoken[i].metadata_description) + "&metadata_copies=" + (jsontoken[i].metadata_copies) + "&metadata_media_hash=" + (jsontoken[i].metadata_media_hash) + "&metadata_issued_at=" + (jsontoken[i].metadata_issued_at) + "&metadata_expires_at=" + (jsontoken[i].metadata_expires_at) + "&metadata_starts_at=" + (jsontoken[i].metadata_starts_at) + "&metadata_updated_at=" + (jsontoken[i].metadata_updated_at) + "&metadata_extra=" + (jsontoken[i].metadata_extra) + "&metadata_reference=" + (jsontoken[i].metadata_reference) + "&metadata_reference_hash=" + (jsontoken[i].metadata_reference_hash) + "&approved_account_ids=" + (jsontoken[i].approved_account_ids) + "&owner_id=" + (jsontoken[i].owner_id) + "'>
<img height='37px' width='37px' src='" + (jsontoken[i].metadata_media).replace("?", "%3F") + "'>
</a>
</td>
<td align='center' style='border: 1px solid black;'> <b>" + (jsontoken[i].token_id) + "</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>" + (jsontoken[i].owner_id) + "</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>" + (jsontoken[i].metadata_title) + "</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>" + (jsontoken[i].metadata_description) + "</b>
</td>
<td align='center' style='border: 1px solid black;'> <b>" + (jsontoken[i].metadata_copies) + "</b>
</td>
<td align='center' style='border: 1px solid black;'> <a href='./nft_transfer?token_id=" + jsontoken[i].token_id + "&metadata_media=" + (jsontoken[i].metadata_media).replace("?", "%3F") + "&metadata_title=" + (jsontoken[i].metadata_title) + "&metadata_description=" + (jsontoken[i].metadata_description) + "&metadata_copies=" + (jsontoken[i].metadata_copies) + "&metadata_media_hash=" + (jsontoken[i].metadata_media_hash) + "&metadata_issued_at=" + (jsontoken[i].metadata_issued_at) + "&metadata_expires_at=" + (jsontoken[i].metadata_expires_at) + "&metadata_starts_at=" + (jsontoken[i].metadata_starts_at) + "&metadata_updated_at=" + (jsontoken[i].metadata_updated_at) + "&metadata_extra=" + (jsontoken[i].metadata_extra) + "&metadata_reference=" + (jsontoken[i].metadata_reference) + "&metadata_reference_hash=" + (jsontoken[i].metadata_reference_hash) + "&approved_account_ids=" + (jsontoken[i].approved_account_ids) + "&owner_id=" + (jsontoken[i].owner_id) + "'>
<button onclick='document.getElementById(&quot;id01&quot;).style.display=&quot;block&quot;' style='background-color:blue; border-color:black; color:white;  width:auto;'>Transfer NFT!</button>
</a>
</td>
</tr>";
      }
      text = text + "</table>
</div>
<br/>
<br/>
</body>
</html>